<div dojoAttachPoint="containerNode">
	<div dojoAttachPoint="contentDiv">
	</div>
	<button dojoType="dijit.form.Button" type="button" 
	dojoAttachPoint="viewContentButton" dojoAttachEvent="onclick: openPage"
	style="width:100px; height:25px; font-size:12px;">
		View Content
	</button>
</div>