<?xml version='1.0' encoding='utf-8'?>
<page name='Color Page' alias='Color Page' xmlns='http://www.lotus.com/dxl'
 version='9.0' maintenanceversion='1.7' replicaid='C12581CC00278A0B' publicaccess='false'
 designerversion='6' language='en' bgcolor='#bad5c5' noinitialfocus='true'
 nofocusonf6='true'>
<noteinfo noteid='25a' unid='B79AF7D17E34BC3C882569ED000C23B7' sequence='30'>
<created><datetime>20010207T181235,75-08</datetime></created>
<modified><datetime>20171102T081153,75+01</datetime></modified>
<revised><datetime dst='true'>20130919T143521,98-04</datetime></revised>
<lastaccessed><datetime>20171102T081153,75+01</datetime></lastaccessed>
<addedtofile><datetime>20171102T081153,75+01</datetime></addedtofile></noteinfo>
<updatedby><name>CN=Lotus Notes Template Development/O=Lotus Notes</name></updatedby>
<wassignedby><name>CN=Lotus Notes Template Development/O=Lotus Notes</name></wassignedby>
<body><richtext>
<pardef id='1'/>
<par def='1'/></richtext></body>
<item name='$$ScriptName' summary='false' sign='true'><text>Color Page</text></item></page>

