<?xml version='1.0' encoding='utf-8'?>
<page name='Outline Page' alias='Outline Page' xmlns='http://www.lotus.com/dxl'
 version='9.0' maintenanceversion='1.7' replicaid='C12581CC00278A0B' publicaccess='false'
 designerversion='8.5.2' language='en'>
<noteinfo noteid='1de' unid='2C4D2BCC1E5A9DA7852566590044EC26' sequence='81'>
<created><datetime dst='true'>19980807T083249,02-04</datetime></created>
<modified><datetime>20171102T081153,25+01</datetime></modified>
<revised><datetime dst='true'>20130919T143521,48-04</datetime></revised>
<lastaccessed><datetime>20171102T081153,25+01</datetime></lastaccessed>
<addedtofile><datetime>20171102T081153,25+01</datetime></addedtofile></noteinfo>
<updatedby><name>CN=Lotus Notes Template Development/O=Lotus Notes</name></updatedby>
<wassignedby><name>CN=Lotus Notes Template Development/O=Lotus Notes</name></wassignedby>
<background><imageref name='OutlinePage.gif'/></background>
<body><richtext>
<pardef id='1'/>
<par def='1'/>
<pardef id='2' leftmargin='0.7500in'/>
<par def='2'><embeddedoutline name='DiscOutline' outline='DiscOutline' showtwistie='true'
 widthtype='fitwindow' heighttype='fixed' height='3in' targetframe='NotesView'><title
><layout labelalign='topleft' labelhoffset='0' labelvoffset='0'/></title><toplevel
 mouseovercolor='blue'><font size='9pt'/><eoutlinebackground selectedcolor='#bad5c5'
 mouseovercolor='#f7f7f7'/><layout labelalign='middleleft' entryvoffset='0.0500in'
 imagealign='middleleft' labelhoffset='0.3000in' labelvoffset='0'/></toplevel><sublevel
 mouseovercolor='blue'><font size='9pt'/><eoutlinebackground selectedcolor='#bad5c5'
 mouseovercolor='white'/><layout labelalign='middleleft' entryhoffset='0.2000in'
 entryvoffset='0.0500in' imagealign='middleleft' imagehoffset='0.1000in' labelhoffset='0.4000in'
 labelvoffset='0'/></sublevel></embeddedoutline><run><font size='9pt' style='underline'
 color='blue'/></run></par></richtext></body>
<item name='$HTMLDocumentStyles' summary='true' sign='true'>
<rawitemdata type='1'>
0ggBAAAA/wDSCAEA/wAAANIIAQCAAIAA
</rawitemdata></item>
<item name='$$ScriptName' summary='false' sign='true'><text>Outline Page</text></item></page>

