/** Author: Tony McGuckin, IBM **/

/* dojo slider */
.dijitSliderBarH{border:1px solid #e3e3e3;}

.dijitSliderBumperH{border-style:none;width:0px !important;}

.dijitSliderImageHandle{border:0px !important;background-position:left bottom !important;background-repeat:no-repeat !important;width:7px !important;height:11px !important;
top:-3px !important;background:#ffffff url(xpTagSliderHandle.gif) no-repeat scroll center top !important;}

.dijitSliderImageHandleH{border:1px solid #e3e3e3 !important;}

.dijitSliderProgressBar{background-color:#a5c0ec !important;}
.dijitSliderRemainingBar{background-color:#e3e3e3 !important;}
.dijitSliderBottomBumper, .dijitSliderLeftBumper{background-color:#a5c0ec !important;}

/* images */
.xspImageBranding{float:left;}
.xspImageFile{padding-right:3px;}

/* computed text */
.xspComputedFieldTitle{color:#ffffff;float:left;font-size:1.5em;font-weight:normal;letter-spacing:0pt;line-height:2em;padding:3px 0pt 0pt 12px;margin:0px;}
.xspComputedFieldViewGeneric{color:#000000;white-space:nowrap;}
.xspComputedFieldViewMeta{color:#666666;white-space:nowrap;}
.xspComputedFieldSearchInfo{font-size:1.1em;}
.xspComputedFieldHeaderSubtitle{color:#444444;font-size:1.7em;font-weight:normal;line-height:1.2em;border:0pt none;font-family:inherit;font-style:inherit;margin:0pt;outline-color:invert;outline-style:none;outline-width:0pt;vertical-align:baseline;}
.xspComputedFieldFooter{font-weight:normal;font-size:1.1em;color:#c0c0c0;}

/* labels */
.xspTextLargeSeparator{margin-left:5px;margin-right:5px;color:#666666;font-weight:normal;vertical-align:text-bottom;}
.xspTextMediumSeparator{margin-left:3px;margin-right:3px;color:#666666;font-weight:normal;font-size:9pt;}
.xspTextSmallSeparator{margin-left:3px;margin-right:3px;color:#666666;font-weight:normal;font-size:8pt;}
.xspTextLabel{white-space:nowrap;}
.xspTextSearchInfo{font-weight:normal;font-size:1.1em;}
.xspTextTableHeader{font-weight:bold;font-size:1.1em;}
.xspTextTableLabel{font-weight:bold;font-size:1.1em;padding-left:5px;white-space:nowrap;}

/* input fields */
.xspInputFieldEditBoxSearch{color:#999999;border-color:#5581b7;border-style:solid;border-width:1px;margin:0pt 1px;padding:3px 5px 4px;width:15em;vertical-align:middle;}
.xspInputFieldFileUploadEx{color:inherit;margin:0em 0.1em;padding:1px 1px 1px 1px;}

/* panels */
.xspPanelBanner{background-color:transparent;padding:5px 15px 4px 30px;overflow:hidden;min-height:20px;}
.xspPanelBannerLeft{float:left;padding:0px;text-align:left;}
.xspPanelBannerRight{float:right;padding-right:30px;text-align:right;}
.xspPanelFrame{margin:0 auto;padding:0;min-width:990px;}

.xspPanelTitleBar{margin:0 10px;border-bottom-color:#6794cb;background-image:url(xpTitlebarMid_oneUI.gif);}
.xspPanelRightCorner{background-image:url(xpTitlebarRight_oneUI.gif);background-position:right top;background-repeat:no-repeat;height:3.5em;padding-right:6px;}
.xspPanelInner{background-image:url(xpTitlebarLeft_oneUI.gif);background-position:left top;background-repeat:no-repeat;height:3.5em;}

.xspPanelHeader{margin-bottom:5px;margin-top:-5px;overflow:hidden;position:relative;margin-bottom:15px}
.xspPanelHeader img{margin-right:10px;}

.xspPanelMain{border-style:solid;clear:both;margin:0px 10px 10px 10px;overflow:hidden;padding:0 0 5px 0;min-height:400px;border-width:0 1px 1px 1px;-moz-border-radius:0 0 4px 4px;-webkit-border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;background-position:top left; background-repeat:no-repeat;background-color:#ffffff;border-color:#cfcfcf;border-top-color:#568dd0;background-image:url(xpSidebar.gif);}

.xspPanelFooter{clear:both;margin:0px 10px;padding:5px;overflow:hidden;background-color:#ffffff;border:solid 1px #cfcfcf;-moz-border-radius:4px;}
.xspPanelFooterLeft{float:left;}
.xspPanelFooterRight{float:right}

.xspPanelContent{padding:16px 20px 20px 20px;overflow:hidden;margin-right:auto;margin-left:auto;background-color:#ffffff;}

.xspPanelColumnLeft{float:left;width:180px;padding:20px 10px 10px 10px;}
.xspPanelColumnRight{float:right;width:180px;padding:15px 10px;font-size:.9em;}
.xspPanelColumnRight h2{padding-left:10px;}

.xspPanelActionsBar{padding:0px 0px 10px 0px;}
.xspPanelTopicThread{background-color:#f7f9fc;padding:10px;border:1px solid #e5e5e5;-moz-border-radius:6px;}

.xspPanelFooter th{color:#666666;}
.xspPanelFooter th, .xspPanelFooter td{border-color:#e0e0e0;}

.xspPanelSearch{float:right;position:relative;top:8px;right:11px;}

/* display toggling */
.xspDisplayInline{display:inline;}
.xspDisplayNone{display:none;}

/* header pager */
.xspPagerContainerViewHeader{float:right;background-color:#ffffff;border-collapse:collapse;width:100%;position:relative;}
.xspPagerViewHeader{float:right;margin-top:.2em;padding:2px 5px;height:2em;line-height:2em;clear:both;text-align:center;font-weight:normal;font-size:1em;color:#848484;background-color:#ffffff;}
.xspPagerNavViewHeader{text-align:left;float:left;padding-left:5px;color:#848484;}

.xspGroupViewHeader span{margin:0px;padding:0px;}
.xspGroupViewHeader span span{color:#848484;display:inline;margin:0px;padding:0px 7px;border-left-width:1px;border-left-style:solid;border-color:#cccccc;}
.xspGroupViewHeader span span.xspFirstItem{padding-left:0px;border-left-width:0px;}
.xspGroupViewHeader span span.xspLastItem{padding-left:7px;border-left-width:1px;}
.xspGroupViewHeader span span a, .xspGroupViewHeader span span a:visited{color:#105cb6;font-weight:bold !important;text-decoration:none;}
.xspGroupViewHeader span span a:hover, .xspGroupViewHeader span span a:focus, .xspGroupViewHeader span span a:active{font-weight:bold !important;text-decoration:underline;}
.xspGroupViewHeader span span.xspCurrentItem{color:#848484;}

.xspPreviousViewHeader a, .xspPreviousViewHeader a:visited{color:#105cb6;font-weight:bold !important;text-decoration:none;}
.xspPreviousViewHeader a:hover, .xspPreviousViewHeader a:focus, .xspPreviousViewHeader a:active{font-weight:bold !important;text-decoration:underline;}
.xspPreviousViewHeader .xspCurrentItem{color:#848484;}

.xspNextViewHeader a, .xspNextViewHeader a:visited{color:#105cb6;font-weight:bold !important;text-decoration:none;}
.xspNextViewHeader a:hover, .xspNextViewHeader a:focus, .xspNextViewHeader a:active{font-weight:bold !important;text-decoration:underline;}
.xspNextViewHeader .xspCurrentItem{color:#848484;}

/* footer pager */
.xspPagerContainerViewFooter{float:right;background-color:inherit;border-collapse:collapse;width:100%;position:relative;}
.xspPagerViewFooter{float:right;margin-top:.2em;padding:2px 5px;height:2em;line-height:2em;clear:both;text-align:center;font-weight:normal;font-size:1em;color:#848484;background-color:inherit;}
.xspPagerNavViewFooter{text-align:left;float:left;padding-left:5px;color:#848484;}

.xspPreviousViewFooter a, .xspPreviousViewFooter a:visited{color:#105cb6;font-weight:bold !important;text-decoration:none;}
.xspPreviousViewFooter a:hover, .xspPreviousViewFooter a:focus, .xspPreviousViewFooter a:active{font-weight:bold !important;text-decoration:underline;}
.xspPreviousViewFooter .xspCurrentItem{color:#848484;}

.xspNextViewFooter a, .xspNextViewFooter a:visited{color:#105cb6;font-weight:bold !important;text-decoration:none;}
.xspNextViewFooter a:hover, .xspNextViewFooter a:focus, .xspNextViewFooter a:active{font-weight:bold !important;text-decoration:underline;}
.xspNextViewFooter .xspCurrentItem{color:#848484;}

/* form table */
.xspHtmlTableForm{border:0px none;width:100%;clear:both;}
.xspHtmlTrFormHeader{}
.xspHtmlTrFormBody{}
.xspHtmlTdFormHeader{border:1px solid #e5e5e5;padding:5px 2px;vertical-align:top;text-align:right;background-color:#f3f3f3;color:#848484;clear:both;font-weight:bold;font-size:0.9em;height:2em;line-height:2em;margin-top:0.2em;padding:2px 5px;text-align:left;}
.xspHtmlTdFormBody{padding:5px 5px 5px 5px;background-color:#ffffff;font-weight:normal;font-size:0.9em;vertical-align:top;}
.xspHtmlTdFormFooterSlimline{border-top:1px solid #e5e5e5;padding-top:15px;}

/* view table header */
.xspHtmlTableViewHeader{border:0px none;width:100%;clear:both;}
.xspHtmlTrViewHeader{}
.xspHtmlTdViewHeaderTop{padding:4px 0px 0px 5px;vertical-align:top;background-color:#f3f3f3;color:#848484;clear:both;height:2em;line-height:2em;margin-top:0.2em;padding:2px 5px;text-align:right !important;}
.xspHtmlTdViewHeaderBottom{padding:5px 2px;vertical-align:top;background-color:#ffffff;font-weight:normal;font-size:0.9em;}

/* view table footer */
.xspHtmlTableViewFooter{border:0px none;width:100%;clear:both;}
.xspHtmlTrViewFooter{}
.xspHtmlTdViewFooter{padding:0px 5px 0px 5px;border:0px none;vertical-align:top;text-align:right;background-color:#f3f3f3;color:#848484;clear:both;height:2em;line-height:2em;}

.xspRowCount{font-size:0.9em;padding:3px 0px 0px 0px}

/* view table body*/
.xspHtmlTableView{border:0px none;width:100%;clear:both;}
.xspHtmlTrViewSelected{background-color:#eefee1;}
.xspHtmlTrView:hover{background-color:#ffffc8;}
.xspHtmlTdView{border-top-color:#e5e5e5;border-top-style:solid;border-top-width:1px;padding:5px 2px;vertical-align:top;}

/* layout utils */
.xspLeft{float:left;}
.xspRight{float:right;}
.xspLeftAlign{text-align:left;}
.xspCenterAlign{text-align:center;}
.xspRightAlign{text-align:right;}
.xspNoWrap{white-space:nowrap;}
.xspMetaData{color:#666666;}

/* links */
a.xspEnabledCollapse:link, a.xspEnabledCollapse:visited, a.xspEnabledCollapse:hover, a.xspEnabledCollapse:active{font-size:0.9em;font-weight:bold;padding:0px 5px 0px 0px;margin:5px;margin-right:1px;margin-left:1px;text-decoration:none;text-align:center;cursor:hand;}
a.xspDisabledCollapse:link, a.xspDisabledCollapse:visited, a.xspDisabledCollapse:hover, a.xspDisabledCollapse:active{font-size:0.9em;font-weight:normal;padding:0px 5px 0px 0px;margin:5px;margin-right:1px;margin-left:1px;text-decoration:none;text-align:center;color:#848484;cursor:default;}

a.xspEnabledExpand:link, a.xspEnabledExpand:visited, a.xspEnabledExpand:hover, a.xspEnabledExpand:active{font-size:0.9em;font-weight:bold;padding:0px 7px 0px 9px;margin:5px;margin-right:1px;margin-left:1px;text-decoration:none;text-align:center;cursor:hand;}
a.xspDisabledExpand:link, a.xspDisabledExpand:visited, a.xspDisabledExpand:hover, a.xspDisabledExpand:active{font-size:0.9em;font-weight:normal;padding:0px 7px 0px 9px;margin:5px;margin-right:1px;margin-left:1px;text-decoration:none;text-align:center;color:#848484;cursor:default;}

a.xspLinkPerson:hover, a.xspLinkPerson:focus{border-bottom-color:#05386b;color:#05386b;border-bottom-style:dotted;border-bottom-width:1px;text-decoration:none;}

a.xspLinkMore:link, a.xspLinkMore:visited{margin:0px 5px 0px 0px;color:#578cca;font-size:90%;}
a.xspLinkMore:hover, a.xspLinkMore:focus{border-bottom-color:#05386b;color:#05386b;border-bottom-style:dotted;border-bottom-width:1px;text-decoration:none;}

a.xspLinkAction:link, a.xspLinkAction:visited{font-weight:bold;color:#578cca;margin:0px 5px 0px 5px;}
a.xspLinkAction:hover, a.xspLinkAction:focus{border-bottom-color:#05386b;color:#05386b;border-bottom-style:solid;border-bottom-width:1px;text-decoration:none;}

a.xspLinkLogout:link, a.xspLinkLogout:visited, a.xspLinkLogout:hover, a.xspLinkLogout:focus, a.xspLinkLogout:active{font-weight:bold;text-decoration:none;color:#73be59;}
a.xspLinkTitle:link, a.xspLinkTitle:visited, a.xspLinkTitle:hover, a.xspLinkTitle:focus, a.xspLinkTitle:active{text-decoration:none;color:#444444;float:left;font-size:1.7em;font-weight:normal;letter-spacing:0pt;line-height:1.2em;padding:3px 0pt 0pt 12px;margin:0px;}
a.xspLinkViewTopicTitle:link, a.xspLinkViewTopicTitle:visited, a.xspLinkViewTopicTitle:hover, a.xspLinkViewTopicTitle:focus, a.xspLinkViewTopicTitle:active{text-decoration:none;font-size:1.1em;font-weight:bold;letter-spacing:0pt;line-height:1.2em;}

/* main menu body */
.xspPanelNavigationMenuTop{background-color:#eefee1;background-position:left top;background-repeat:no-repeat;margin:0pt 0pt 15px;padding-top:5px;width:178px;border:0pt none;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;outline-color:invert;outline-style:none;outline-width:0pt;vertical-align:baseline;border-style:solid;}
.xspPanelNavigationMenuBottom{background-position:left bottom;background-repeat:no-repeat;padding-bottom:5px;border:0pt none;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0pt;outline-color:invert;outline-style:none;outline-width:0pt;vertical-align:baseline;}
.xspPanelNavigationMenuInner{background-position:left top;background-repeat:repeat-y;overflow:hidden;border:0pt none;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0pt;outline-color:invert;outline-style:none;outline-width:0pt;vertical-align:baseline;}

/* main menu links */
.xspPanelNavigationMenuItems{list-style-type:none;margin:0pt;padding:0pt;margin-top:5px;padding-left:0pt;}
.xspPanelNavigationMenuItem a, .xspPanelNavigationMenuItem a:visited{display:block;font-weight:normal;line-height:1em;padding:5px 0pt 5px 13px;text-decoration:none;}
.xspPanelNavigationMenuItemSelected a, .xspPanelNavigationMenuItemSelected a:visited{display:block;line-height:1em;padding:5px 0pt 5px 13px;background-color:#73be59;border-color:#73be59;color:#ffffff;border-style:solid;border-width:1px;cursor:default;font-weight:bold;margin:0pt 5px 3px;padding-left:6px;text-decoration:none;}

.xspDataTableFileDownload thead tr th{padding:2px;}
.xspDataTableFileDownload .xspColumn{padding-right:10px !important;}
