/*RTL overrides specific styles*/

.xspHtmlTrView img {
	float: right;
	padding-left: 3px;
	padding-right: 0;
}

.dijitSliderBottomBumper, .dijitSliderLeftBumper{
	margin-left:0px;
	margin-right:5px;
}

.lotusui .dijitSlider .dijitSliderImageHandle {
    left: -5px;
}
