/** Author: Tony McGuckin, IBM **/

.xspHtmlTdFormHeader{text-align:right;}
.xspHtmlTdFormBodyLabel{width:40px;}

.xspPanelPlaceBar{background-position:right top;}
.xspPanelPlaceBar .xspBtnContainer{float:left;}